@{
    ViewBag.Title = "Mis pedidos";
}

<article class="content items-list-page">
    <div class="title-search-block">
        <div class="title-block">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="title">Listado de pedidos</h3>
                </div>
            </div>
        </div>
    </div>
    <table class="table fixed-table-pagination table-striped table-bordered table-hover"
               data-toggle="table"
               data-url='@Url.Table("mispedidos","pedidos", new { area = "" })'
               data-search="false"
               data-pagination="true"
               data-page-list="[1, 2, 3, 100, ALL]"
               data-side-pagination="server">
        <thead>
            <tr>
                <th>Tema</th>
                <th>Cant</th>
                <th>Fecha Pedido</th>
                <th>Fecha Entrega</th>                
                <th>Estado</th>
            </tr>            
        </thead>
    </table>
</article>