<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="RemoveAttributes(configSource)">
    <add xdt:Transform="Insert" name="SIPI" connectionString="dummy" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>