@*<!doctype html>
    <html class="no-js" lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Iglesia Calle Brasil</title>
        @Styles.Render("~/Content/styles")
    </head>

    <body>*@
<div class="app blank sidebar-opened">
    <article class="content">
        <div class="error-card global">
            <div class="error-title-block">
                <h1 class="error-title">503</h1>
                <h2 class="error-sub-title"> Página en construcción </h2>
            </div>
            <div class="error-container">
                <a class="btn btn-primary" href="@Url.Action("index", "home", new { area = "" })">
                    <i class="fa fa-angle-left"></i>
                    Volver
                </a>
            </div>
        </div>
    </article>
</div>
@section scripts{
    <script>
        $(function () {
            animate({
                name: 'flipInY',
                selector: '.error-card > .error-title-block'
            });

            setTimeout(function () {
                var $el = $('.error-card > .error-container');

                animate({
                    name: 'fadeInUp',
                    selector: $el
                });

                $el.addClass('visible');
            }, 1000);
        });
    </script>
}

@*@Scripts.Render("~/bundles/scripts/thirdparty")
        @Scripts.Render("~/bundles/scripts/plugins")
        <script>
            $(function () {
                animate({
                    name: 'flipInY',
                    selector: '.error-card > .error-title-block'
                });

                setTimeout(function () {
                    var $el = $('.error-card > .error-container');

                    animate({
                        name: 'fadeInUp',
                        selector: $el
                    });

                    $el.addClass('visible');
                }, 1000);
            });
        </script>
    </body>

    </html>*@