/*************************************************************
*						ICE Custom
**************************************************************/

 .width800 {
	width: 800px !important;
 }
 
 .hidden {
	display: none;
 }
 
.no-sidebar {
	padding-left: 0px;
	left: 0;
	right: 0;
}

.logo-image {
    width: 50px;
    margin-bottom: 10px;
}

.brand-header {
	color: #3a4651 !important;
	font-size: 30px !important;
	font-weight: bold;	
	padding: 10px;
}

.brand-header > a {
    color: #3a4651 !important;
}

.brand-header > a:hover {
    color: #fe821d !important;
}

  @media (max-width: 767px) {
	.sidebar-header .brand-header {
		font-size: 18px !important;
		//line-height: 20px;
        //padding: 0px;
	}
	.no-sidebar .logo,
	.no-sidebar .logo-header,
    .no-sidebar .logo-image,
    .header .logo-image {
		width: 30px;
	}
	.header .header-block-nav > ul > li > a {
		padding: 0;
	}
	.header .header-block-collapse {
		width: 50px;
	}
	.no-sidebar .pull-right {
		// float: none;
	}
    .header {
        justify-content: flex-start;
    }
}

.trash {
	color: #fe821d;
	font-size: 20px;
	background-color: transparent;
}

.sidebar-header  .avatar {
	padding: 10px !important;
	margin: 0 auto;
	text-align: center;
}

.sidebar-header .avatar  img {
	width: 128px;
	height: 128px;
}

.sidebar-header .avatar  .brand  {
	color: #fff;
	text-align: center;
	line-height: 30px !important;
	font-size: 16px;
}

.btn-static {
	cursor: default !important;
}

.datepicker table tr td.active:active, 
.datepicker table tr td.active.highlighted:active, 
.datepicker table tr td.active.active, 
.datepicker table tr td.active.highlighted.active {
   background-image: none;
   background-color: #fe821d !important;
}

.fixed-table-loading {
    background-color: #E4E7E9 !important;
    vertical-align: middle;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
    margin-top: .5rem;
}

.avatar .roles {
    font-size: .75em;
    color: #B4B7B9;
}

.logo-text {
    display: inline-block;
    margin-left: 10px;
}

.logo {
    padding: 20px 20px 0px 20px;
    margin-bottom: 0px;
}

.auth-header > a {
    text-decoration: none !important;
}

.pointer {
    cursor: pointer;
}

.card-footer .date {
    display: inline-block;
    margin-bottom: .5rem;
    margin-top: .5rem;
    line-height: 31px;
}

th {
    text-transform: uppercase;
}

.navbar-toggle .fa {
    font-size: 24px;
}