/*************************************************************
*						ICE Custom
**************************************************************/

 .width800 {
	width: 800px !important;
 }
 
 .hidden {
	display: none;
 }
 
.no-sidebar {
	padding-left: 0px;
	left: 0;
	right: 0;
}

.logo-header {
	width: 50%;
}

.brand-header {
	color: #3a4651 !important;
	font-size: 30px !important;
	font-weight: bold;	
	padding: 10px;
}

  @media (max-width: 767px) {
	.sidebar-header .brand-header {
		font-size: 18px !important;
		line-height: 20px;
	}
	.no-sidebar .logo,
	.no-sidebar .logo-header {
		display: none;
	}
	.header .header-block-nav > ul > li > a {
		padding: 0;
	}
	.header .header-block-collapse {
		width: 50px;
	}
	.no-sidebar .pull-right {
		float: none;
	}
}

.trash {
	color: #fe821d;
	font-size: 20px;
	background-color: transparent;
}

.sidebar-header  .avatar {
	padding: 10px !important;
	margin: 0 auto;
	text-align: center;
}

.sidebar-header .avatar  img {
	width: 128px;
	height: 128px;
}

.sidebar-header .avatar  .brand  {
	color: #fff;
	text-align: center;
	line-height: 30px !important;
	font-size: 16px;
}

.btn-static {
	cursor: default !important;
}

.datepicker table tr td.active:active, 
.datepicker table tr td.active.highlighted:active, 
.datepicker table tr td.active.active, 
.datepicker table tr td.active.highlighted.active {
   background-image: none;
   background-color: #fe821d !important;
}