@model SIPI.Core.Vistas.UsuarioView
@{
    ViewBag.Title = "Login";
}

<form action="@Url.Action("index", "cuenta", new { area = "" })" method="get">
    <input type="text" name="yamila" />
    <input type="text" name="cal" />
    <button type="submit">Search</button>
</form>

<section class="example">
    <div class="bootstrap-table table-responsive">
        <table class="table fixed-table-pagination table-striped table-bordered table-hover"
               data-toggle="table"
               data-url='@Url.Action("_table","cuenta", new { area = "" })?@Request.QueryString.ToString()'
               data-search="false"
               data-pagination="true"
               data-page-list="[1, 2, 3, 100, ALL]"
               data-side-pagination="server">
            <thead>
                <tr>
                    <th data-field="nombre">Nombre</th>
                    <th data-field="apellido">Apellido</th>
                    <th data-field="email">Email</th>
                    <th data-formatter="<button type='button'>{{apellido}}</button>">Acciones</th>
                </tr>
            </thead>
        </table>
    </div>
</section>

@section scripts {
<script>
    $('input[name=cal]').datepicker({
        language: "es"
    });
</script>
}
