@* TODO: eliminar *@
@model SIPI.Presentation.Website.Models.Cuenta.IndexModel
@{
    ViewBag.Title = "PRUEBAS";
    var HtmlFilters = Html.ToInnerModel(x => x.Filters);
}

<form action="@Url.Action("index", "cuenta", new { area = "" })" method="get">
    @HtmlFilters.TextBoxFor(m => m.Nombre)
    @HtmlFilters.TextBoxFor(m => m.Apellido)
    <input type="text" name="cal" />
    <button type="submit">Search</button>
</form>

<section class="example">
    <div class="bootstrap-table table-responsive">
        <table class="table fixed-table-pagination table-striped table-bordered table-hover"
               data-toggle="table"
               data-url='@Url.Table("index","cuenta", new { area = "" })'
               data-search="false"
               data-pagination="true"
               data-page-list="[1, 2, 3, 100, ALL]"
               data-side-pagination="server">
            <thead>
                <tr>
                    <th data-field="nombre">Nombre  </th>
                    <th data-field="apellido">Apellido</th>
                    <th data-field="email">Email</th>
                    <th data-formatter="<button type='button'>{{apellido}}</button>">Acciones</th>
                </tr>
            </thead>
        </table>
    </div>
</section>

@section scripts {
<script>
    $('input[name=cal]').datepicker({
        language: "es"
    });
</script>
}
