@model SIPI.Presentation.Website.Models.Cuenta.LoginModel
@{
    ViewBag.Title = "Home Page";
}

<form action='@Url.Action("Login","Cuenta")' method="post">
    @Html.TextBoxFor(m => m.User)
    @Html.PasswordFor(m => m.Password)
    <input type="submit" value="Login" />
</form>