@model SIPI.Presentation.Website.Models.Cuenta.LoginModel
@{
    ViewBag.Title = "Home Page";
}

<form action='@Url.Action("login","cuenta", new { returnUrl = Request.QueryString["returnUrl"], area = "" })' method="post">
    @Html.AntiForgeryToken()
    @Html.TextBoxFor(m => m.Email)
    @Html.PasswordFor(m => m.Contrasena)
    <input type="submit" value="Login" />
</form>